/*Part: Muhammad Sonhaji Akbar*/


/* Untuk Tablet */
@media all and (max-width: 1000px) {
  #hero{
    padding-top: 80px;
  }

  #hero h2{
    font-size: 45px;

  }

  #hero h2 span{
    font-size: 47px;
  }

  #hero p {
    font-size: 16px;
  }

  .heading h2{
    font-size: 30px;
  }

  .service{
    width: 50%;
    height:100%;
    margin-bottom: 50px;  

  }

  .visible{
    visibility: hidden;
    display: block;
  }

  .author-list{
    width: 50%;
    height:100%;
    margin-bottom: 50px;  
  }


.contact{
  width: 10px;
  height: 10px;
}


}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

 #hero{
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position-x: center;
    background-position-y: fixed;
    background-attachment: fixed;
 }

  #hero h2 {
    position: center;
    padding-left: 75px;
    font-size: 30px;
    font-weight: bold;
}

  #hero h2 span{
    font-size: 30px;
  }

  #hero p {
  	font-size: 10px;
  }

  .heading h2{
  	font-size: 30px;
  }

  .service{

    width: 100%;
    height:100%;
    margin-bottom: 50px;
  	float: left;
    /*width: 33%;*/
  }

  .author-list{
    width: 100%;
    height:100%;
    margin-bottom: 50px;  
  }

  nav ul li {
    display: none;
    /*color: white;*/
  }


	span.fa{
	  display:block;
	  color:white;
	  
	}

	span.fa:hover{
		color:grey;
		
	}

	span.cta{
		display: none;
		color: white;	
	}


}

/*End Part: Muhammad Sonhaji Akbar*/
