/*==============================================*/

/*Project: DTS B1 HTML & CSS
    Class: WEB-1C
    Group: C21
    Authors: Adam O. Guciano
             Robby Rahman Kusuma
             Muhammad Sonhaji Akbar
             M. Rizky Irhandi
             Prisna Anjar Larasati
*/

/*==============================================*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
  
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    height: 90px;
    width: 100%;
    background-color: rgba(247, 158, 67, 0.7);
    position: fixed;
    z-index: 1;
}

#header-img {
    margin: 0 auto;
    max-width: 150px;
    width: auto;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

nav ul li {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px;
    color: white;
}

nav ul li .nav-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav ul li .nav-link,
nav ul li .nav-link:after,
nav ul li .nav-link::before {
    transition: all .5s;
}

nav ul li .nav-link:hover {
    background-color: #fff;
    color: rgb(247, 158, 67);
  }


.cta {
    background-color: white;
    color: rgb(247, 158, 67);
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    transition: all .5s;
}


.cta:hover {
    background-color: rgb(247, 158, 67);
    color: #fff;
}

.toggle {
    visibility: hidden;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url("../images/undraw_virtual_reality_y5ig.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 40%;
    background-attachment: fixed;
}

#hero h2 {
    padding-top: 300px;
    padding-left: 75px;
    font-size: 40pt;
    font-weight: bold;
}

h2 span {
    color: orange
}

#hero p {
    padding-left: 75px;
    font-size: 1.5rem;
}

.service-wrapper {
    width: 100%;
    height: fit-content;
    background-color: #fff5dc;
    text-align: center;
}

.services {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.service {
    width: 100%;
    padding: 10px;
}

.heading {
    padding-top: 50px;
    padding-bottom: 15px;
}

.heading h2 {
    font-size: 36px;
    color: #ff7e00;
}

.background-icon {
    position: relative;
}

.service-icon {
    position: absolute;
    top: 15%;
    width: 100%;
}

.services h2 {
    padding-top: 30px;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 18px;
}

.authors-wrapper {
    width: 100%;
	height: 80vh;
	background-color: #ffff;
	text-align: center;
}

.author {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    justify-items: center;
    padding-top: 10px;
}

.author-list {
    padding: 50px;
    width: 100%;
}

.ava {
	width:160px;
	height:160px;
}

/*Footer*/
footer {
    display:block;
    width: 100%;
    text-align: center;
    background-color: #ffa850;
}
.footer-img {
    width: 100px;
}
footer p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
}
footer .sosmed {
    padding: 20px 0;
}
footer .sosmed img {
    padding: 0 8px;
}

/*Part: Muhammad Sonhaji Akbar*/


/* Untuk Tablet */
@media all and (max-width: 1025px) {
    .toggle {
        visibility: visible;
    }

    nav {
        display: none;
    }

    span.fa{
        display:block;
        color:white;
        font-size: 2em
    }
  
    span.fa:hover{
          color:grey;
          
    }

    #hero {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
    }

    #hero h2 {
        font-size: 3em;
        padding-top: 450px;
    }

    #hero p {
        font-size: 2em;
    }

    .service-wrapper {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }


    .authors-wrapper {
        height: fit-content;
    }

    .author {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
   

    .contact{
        width: 10px;
        height: 10px;
    }
}
  
  /* Untuk Smartphone */
  @media all and (max-width: 370px) {
    .toggle {
        visibility: visible;
    }

    nav {
        display: none;
      }

    span.fa{
        display:block;
        color:white;
        
    }
  
    span.fa:hover{
          color:grey;
          
    }

   #hero {
       width: 100%;
       height: 100vh;
       background-size: 100%;
       background-position-x: center;
       background-position-y: 150px;
   }

   #hero h2 {
       font-size:15pt;
   }

   #hero p {
       font-size: 11pt;
   }
  
  
    .heading h2{
        font-size: 30px;
    }

    .service-wrapper {
        height: fit-content;
    }
  
    .service{
      width: 100%;
      height:100%;
      margin-bottom: 50px;
        float: left;
      /*width: 33%;*/
    }
  
    .author-list{
      width: 100%;
      height:100%;
      margin-bottom: 50px;  
    }
  
    span.cta{
          display: none;
          color: white;	
    }
  }
  
  /*End Part: Muhammad Sonhaji Akbar*/
  