/*==============================================*/

/*Project: DTS B1 HTML & CSS
    Class: WEB-1C
    Group: C21
    Authors: Adam O. Guciano
             Robby Rahman Kusuma
             Muhammad Sonhaji Akbar
             M. Rizky Irhandi
             Prisna Anjar Larasati
*/

/*==============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
  
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    height: 90px;
    width: 100%;
    background-color: rgba(247, 158, 67, 0.7);
    position: fixed;
    z-index: 10;
}

#header-img {
    margin: 0 auto;
    max-width: 150px;
    width: auto;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

nav ul li {
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px;
    color: white;
}

nav ul li .nav-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav ul li .nav-link,
nav ul li .nav-link:after,
nav ul li .nav-link::before {
    transition: all .5s;
}

nav ul li .nav-link:hover {
    background-color: #fff;
    color: rgb(247, 158, 67);
  }


.cta {
    background-color: white;
    color: rgb(247, 158, 67);
    border-radius: 20px;
    padding: 7px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
    transition: all .5s;
}


.cta:hover {
    background-color: rgb(247, 158, 67);
    color: #fff;
}



#hero {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url("../images/undraw_virtual_reality_y5ig.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 40%;
    background-attachment: fixed;
}

#hero h2 {
    padding-top: 300px;
    padding-left: 75px;
    font-size: 40pt;
    font-weight: bold;
}

h2 span {
    color: orange
}

#hero p {
    padding-left: 75px;
    font-size: 1.5rem;
}



.service-wrapper {
  height: 750px;
  background-color: #fffbf2;
  text-align: center;
  padding-bottom: 80px;
  padding-right: 5%;
  padding-left: 5%;
}

.service {
    float: left;
    width: 33%;
}

.heading {
    padding-top: 115px;
    padding-bottom: 15px;
}

.heading h2 {
    font-size: 36px;
    color: #ff7e00;
}

.background-icon {
    position: relative;
}

.service-icon {
    position: absolute;
    top: 15%;
    width: 100%;
}

.services h2 {
    padding-top: 30px;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
}

.authors-wrapper {
	height: 400px;
	padding-bottom: 80px;
	background-color: #ffff;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
}
.a-heading {
    padding-top: 25px;
    padding-bottom: 25px;
}
.a-heading h2{
	font-size:36px;
	line-height:64px;
	color:#ff7e00;
}
.author-list{
	float:left;
	width:20%;
}
.author h2{

}
.pos {
    display: inline-block;
    margin-top: 5px;
    font-size: 18px;

}
.ava {
	position:relative;
	width:160px;
	height:160px;
	margin-bottom:10px;
	
}

/*Footer*/
footer {
  background-color: #fc8e1e;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 20px;
}
footer p {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}
footer .sosmed {
  margin: 20px 0;
}
footer .sosmed img {
  margin: 0 8px;
}
